<!doctype html>
<html>
<head>
    <title>
       main2 test express3 title
    </title>
</head>
<body>
<h1> main2 test express3 title</h1>
<header><img src="/img/logo.png" alt="Meadowlark Travel Logo"></header>
{{{body}}}
</body>
</html>