<h1>Welcome to test3 express1</h1>
<h2>Welcome to Meadowlark Travel!</h2>
<!-- 下面这种语法可以让你在本视图中包含一个局部文件。express3-handlebars 会
在views/partials 中寻找一个叫作partial_name.handle-bars 的视图（或是weather.handlebars，
如上例）。-->
{{> weather}}